.edit-delete-container {
  margin-top: 1%;
}

.edit-btn {
  margin-right: 5px;
  height: 50%;
}

.add-btn {
  margin-bottom: 1%;
}

#titleHelp {
  color: red;
}

#descriptionHelp {
  color: red;
}

#detailsHelp {
  color: red;
}
